<p id="notice"><%= notice %></p>

<h1><%= @artist.name %></h1>

<%= render partial: "application/upcoming_events", locals: {upcoming_events: @upcoming_events } %>

<h2>Preview a tune</h2>

<div>
  <%= render partial: "artists/youtube", locals: {video_id: @video_id} %>
  <%= render partial: "artists/soundcloud", locals: {soundcloud_oembed: @soundcloud_oembed} %>
</div>
