<p id="notice"><%= notice %></p>

<%= render "upcoming_events" %>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<% if @embed_info %>
  <%# Ewwww!!! Don't like using html_safe %>
  <%= @embed_info['html'].html_safe %>
<% else %>
  <p>Sorry, we couldn't find anything to preview for you...</p>
<% end %>

<%= link_to 'Back', artists_path %>
