<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Venue</th>
      <th>Starts at</th>
      <th>Price</th>
      <th>Soldout</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.venue %></td>
        <td><%= event.starts_at %></td>
        <td><%= event.price %></td>
        <td><%= event.soldout %></td>
        <td><%= link_to 'Show', event %></td>
      </tr>
    <% end %>
  </tbody>
</table>
