<p id="notice"><%= notice %></p>

<h2><%= event_title(@event) %></h2>

<h3>Who's playing</h3>
<% @event.artists.each do |a| %>

<p><%= link_to(a.name, artist_path(a)) %></p>
<% end %>

<h3>Playing at</h3>
<p>
  <%= link_to(@venue.name, venue_path(@venue)) %>
</p>

<h3>What are the gig details</h3>
<p>
  <strong>Starts at:</strong>
  <%= time_tag(@event.starts_at) %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@event.price, precision: 2) %>
</p>

<p>
  <strong>Soldout:</strong>
  <%= nice_soldout(@event.soldout) %>
</p>
